@keyframes moveDots1 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-33px, -20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDots2 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-18px, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDots3 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-56px, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }


  @keyframes shineStar {
    0%, 10% {
      opacity: 0;
    }

    25%, 35% {
        opacity: 0.5;
      }
    
    50%, 65% {
      opacity: 1;
    }
    75%, 80% {
        opacity: 0.5;
      }
    
    90%, 100% {
      opacity: 0;
    }
  }
