@mixin size($width, $height) {
    width: $width;
    height: $height;
  }

@mixin flexprop($display, $justify-content) {
  display:$display;
  justify-content: $justify-content;
}

@mixin font-headline {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  }

@mixin font-subheadline {
  font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

@mixin stars($top, $left, $background-image) {
    top: $top;
    left: $left;
    background-image: $background-image;
}