@import 'variables';

body { 
    @include size($mob-gen-width, $mob-body-height);    
}

/* made some changes to header to display background properly */
.header {
    @include size($mob-gen-width, $mob-header-height);
    background-position: $mob-header-background-position;
    background-size: $mob-header-background-size;    

    &__biglogo {
        margin-top: $mob-biglogo-margin-top;
        margin-left: $mob-biglogo-margin-left;        
    }

    &__menu {
        margin-left: $mob-menu-margin-left;         
     }

    &__projname {
        padding-top: $mob-proj-padding-top;
        padding-left: $mob-proj-padding-left;         
    }    

    &__nav {
        display: $mob-nav-display;
    }

    &__threelines {
        @include size($mob-threelines-width, $mob-threelines-height);
        background-color: $header-color;
        position: $mob-threelines-position; 
        top: $mob-threelines-top;
        left: $mob-threelines-left;
        @at-root {
            &::before,
            &::after {
                content: "";
                position: $mob-threelines-bef-aft-position;
                @include size($mob-threelines-width, $mob-threelines-height);
                background-color: $header-color; 
            }

            &::before {
                top: $mob-threelines-bef-aft-top; /* Adjust the position of the upper line */
            }

            &::after {
                bottom: $mob-threelines-bef-aft-top; /* Adjust the position of the lower line */
            }

        }
    }
    
    
    &__headline {
        margin-top: $mob-headline-margin-top;        
    } 
    
    &__star--3 {
        @include stars($mob-star3-top, $mob-star3-left, $star3-background-image);           
    }

    &__star--5 {
        @include stars($mob-star5-top, $mob-star5-left, $star5-background-image);         
    }

    &__star--6 {
        @include stars($mob-star6-top, $mob-star6-left, $star6-background-image); 
    }
    
    &__star--7 {
        @include stars($mob-star7-top, $mob-star7-left, $star7-background-image);
    }
    
    &__star--8 {
        @include stars($mob-star8-top, $mob-star8-left, $star8-background-image);
    }
    
    &__star--9 {
        @include stars($mob-star9-top, $mob-star9-left, $star9-background-image);
    }
    
    
    
    &__star--11 {
        @include stars($mob-star11-top, $mob-star11-left, $star11-background-image);
    }
    
    &__star--12 {
        @include stars($mob-star12-top, $mob-star12-left, $star12-background-image);
    }
    
    &__star--13 {
        @include stars($mob-star13-top, $mob-star13-left, $star13-background-image);
    }
    
    &__star--14 {
        @include stars($mob-star14-top, $mob-star14-left, $star14-background-image);
    }
    
    &__star--15 {
        @include stars($mob-star15-top, $mob-star15-left, $star15-background-image);
    }
    
    
    &__star--16 {
        @include stars($mob-star16-top, $mob-star16-left, $star16-background-image);
        
    }

    &__star--1, &__star--2,
    &__star--4, &__star--10 {
        display:none;
    }



    &__startmb--top {    
        @include stars($mob-topstar-top, $mob-topstar-left, $topstar-background-image);  
       }
       
   &__startmb--middle {    
        @include stars($mob-middlestar-top, $mob-middlestar-left, $middlestar-background-image);        
       } 
       
       &__startmb--bottom {    
         @include stars($mob-bottomstar-top, $mob-bottomstar-left, $bottomstar-background-image);       
       }     



}

.sectionfirst {
    @include size($mob-gen-width, $mob-sectionfirst-height);
    margin-top: $mob-sectionfirst-margin-top;
    
    &__headline {
        width: $mob-section-1-headline-width;
        padding-top: $mob-section-1-headline-padding-top;        
    }
    
    &__paragraph {
        @include size($mob-par-width, $mob-par-height);
        @include flexprop($most-display, $most-just-content);
        column-gap: $mob-par-flex-column-gap; 
        flex-direction: $mob-par-flex-direction;
        padding-top: $mob-par-padding-top;
        padding-bottom: $mob-par-padding-bottom;       
    }
     
    &__flexparagraph {
        width:$mob-par-flex-width;        
    }
    
        
}
.sectiontwo {
    background-image: $mob-section-2-background-image;
    @include size($mob-gen-width, $mob-section-2-height);
    margin-top: $section-2-margin-top;

    &__subheadline {
        padding-top: $mob-section-2-headline-padding-top;        
    }

    &__play-button {
        margin-top: $mob-play-button-margin-top; 
        margin-left: $mob-play-button-margin-left;         
      }

      &__triangle9654 {
        @include size($mob-play-button-triangle-width, $mob-play-button-triangle-height);
        font-size: $mob-play-button-font-size;         
       }

        &__h3headline {
        margin: $mob-section-2-subheadline-margin;        
    }

}


.footer {
    @include size($mob-gen-width, $mob-footer-height);
    
    &__flexcontainer {
        @include flexprop($mob-footer-flexcont-display, $mob-footer-flexcont-justify-content);
        justify-items: $mob-footer-flexcont-justify-items;
        padding-top: $mob-footer-flexcont-padding-top;
    }

    
    &__smalllogo {        
        top: $mob-footer-smalllogo-top;
        left: $mob-footer-smalllogo-left;         
    }

    &__project {
        margin-top: $mob-footer-project-margin-top;
        margin-left: $mob-footer-project-margin-left;  
        text-align: $mob-footer-project-text-align;         
    }

    &__address1 {
        margin-left: $mob-footer-address-margin-left;
        padding-top: $mob-footer-address-padding-top;
        text-align: $mob-footer-address-text-align;        
    }
    
        
    &__copyright {
        align-self: $mob-footer-copyright-align-self;
        margin-left: $mob-footer-copyright-margin-left;
        padding-top: $mob-footer-copyright-padding-top;
        text-align: $mob-footer-copyright-text-align;        
    }
}








// Include stars later