// Body 
$body-width: 1200px;
$body-height: 2336px;
$body-background: #FFFFFF;

// General properties

$margin-general: 0 auto;
$change-case: uppercase;
$most-background-repeat: no-repeat; 
$most-background-position: center; 
$most-display: flex;
$most-just-content: center;

// Header general properties

$header-height: 800px;
$header-position: relative;
$header-background-image: url('../assets/desktop.png');
$header-color: #FFFFFF;

// Menu properties

$menu-just-content: flex-start;
$menu-margin-left: 70px;
$menu-align-items: center;
$menu-text-decor: none;

// Fonts

$font-family-headline: 'Oswald'; 
$font-basis-fam: 'Source Sans Pro';
$font-basis-style: 'normal';
$font-basis-weight: 400;

// Project name variables

$projname-flex-basis: 220px;
$projname-flex-grow: 0.1;
$projname-font-weight: 600;
$projname-font-size: 20px;
$projname-line-height: 16px;
$projname-letter-spacing: 0.1em;
$projname-padding: 1px;

// Navigation variables

$nav-font-size: 14px;
$nav-line-height: 16px;
$nav-letter-spacing: 0.2em;
$nav-flex-colgap: 40px;
$nav-flex-grow: 2;
$nav-padding: 25px;
$nav-about-border: 2px solid #FFFFFF;

// Biglogo variables
$biglogo-width: 63px;
$biglogo-height: 63px;
$biglogo-margin-left: 569px;
$biglogo-margin-top: 160px;
$biglogo-transition: transform 0.3s ease;
$biglogo-transform: scale(1.5) scaleX(-1);

// Headline  margin and text properties
$headline-margin-top: 6px;

// Main Subheadline
$subheadline-color: rgba(255, 255, 255, 0.7);

// Stars

$stars-common-position: absolute;
$stars-common-width: 150px;
$stars-common-height: 150px;
$stars-common-background-repeat: no-repeat;
$stars-common-background-position: center;
$starstmb-common-width: 250px;
$starstmb-common-height: 250px;
$starstmb-common-position: absolute;

$star1-top: 572px;
$star1-left: 375px;
$star1-background-image: url(../assets/imagestar/ellipse1.png);   

$star2-top: -5px;
$star2-left: 563px;
$star2-background-image: url(../assets/imagestar/ellipse2lt.png);

$star3-top: -42px;
$star3-left: 907px;
$star3-background-image: url(../assets/imagestar/ellipse3rt12.png);

$star4-top: 113px;
$star4-left: 664px;
$star4-background-image: url(../assets/imagestar/ellipse4lthalqas14.png);

$star5-top: 69px;
$star5-left: 769px;            
$star5-background-image: url(../assets/imagestar/ellipse5t10.png); 

$star6-top: 67px;
$star6-left: 908px;
$star6-background-image: url(../assets/imagestar/ellipse6t11.png); 

$star7-top: 87px;
$star7-left: 900px;
$star7-background-image: url(../assets/imagestar/ellipse7t13.png);  

$star8-top: 146px;
$star8-left: 990px;
$star8-background-image: url(../assets/imagestar/ellipse8rsag9.png);

$star9-top: 158px;
$star9-left: 1082px;           
$star9-background-image: url(../assets/imagestar/ellipses9ensagqir4.png); 


$star10-top: 232px;
$star10-left: 661px;
$star10-background-image: url(../assets/imagestar/ellipse10logoy3.png);  

$star11-top: 350px;
$star11-left: 750px;
$star11-background-image: url(../assets/imagestar/ellipse11xetdenken5.png);

$star12-top: 366px;
$star12-left: 793px;
$star12-background-image: url(../assets/imagestar/ellipse12-xetde11inyani6.png);

$star13-top: 298px;
$star13-left: 856px;
$star13-background-image: url(../assets/imagestar/ellipse13-12denyux-solg7.png);

$star14-top: 211px;
$star14-left: 962px;            
$star14-background-image: url(../assets/imagestar/ellipse14-13denyux-8.png); 

$star15-top: 273px;
$star15-left: 976px;            
$star15-background-image: url(../assets/imagestar/ellipse15.png);  

$star16-top: 361px;
$star16-left: 960px;            
$star16-background-image: url(../assets/imagestar/ellipse16.png); 


$topstar-top: 15px;
$topstar-left: 1003px;    
$topstar-background-image: url('../assets/imagestar/top-star.png');

$middlestar-top: 153px;
$middlestar-left: 745px;    
$middlestar-background-image: url('../assets/imagestar/middle-star.png');  

$bottomstar-top: 505px;
$bottomstar-left: 826px;    
$bottomstar-background-image: url('../assets/imagestar/bottom-star.png'); 


// Sectionfirst general variables
$sectionfirst-width: 1200px;
$sectionfirst-height: 700px;
$sectionfirst-background: #EEEEEE;

$section-1-headline-color: #464547;
$section-1-headline-padding-top: 87px;            
$section-1-subheadline-color: #666666;

// Paragraph properties

$paragraph-width: 983px;
$paragraph-height: 194px;
$paragraph-flex-colgap: 84px;
$paragraph-padding-top: 5px;
$paragraph-padding-bottom: 30px;
$paragraph-font-size: 16px;
$paragraph-line-height: 22px;
$paragraph-text-align: left;
$paragraph-color: #666666;
$paragraph-flex-width: 50%;

// Button variables
$button-margin: auto;
$button-display:block;
$button-padding: 5px 21px 5px 21px;
$button-background: #55C2D8;
$button-border-radius: 18px;
$button-border-style: none;
$button-font-size: 14px;
$button-line-height: 26px;    
$button-text-align: center;
$button-letter-spacing: 0.1em;
$button-color: #FFFFFF;
$button-transform: rotate(12deg);
        
// Section2 variables

$section-2-background-image: url('../assets/learn-more.png');
$section-2-height: 666px;
$section-2-margin-top: -40px; 
$section-2-headline-padding-top: 84px; 
$section-2-headline-letter-spacing: 0.12rem;  
$section-2-color: #FFFFFF;  

// Play-button properties

$play-button-display: inline-block;
$play-button-margin-left: 530px;
$play-button-margin-top: 20px; 

$play-button-triangle-width: 80px;
$play-button-triangle-height: 130px;

$play-button-align-items: center;  
$play-button-padding: 3px 30px 3px 30px;            
$play-button-border-radius: 100%;            
$play-button-font-size: 115px;
$play-button-text-align: center; 
$play-button-color: white;
$play-button-background-color: #39C2D7;                              
$play-button-transition: transform 0.5s, background-color 0.5s, color 0.5s;
$play-button-transition-property: transform, background-color, color; 
$play-button-transition-delay: 0.5s, 0.5s, 0.5s;
$play-button-hover-background: white;
$play-button-hover-color:#39C2D7;
$play-button-hover-transform: scale(0.96);
$play-button-hover-transform-origin: center center;    
            
// $section-2-subheadline-color: #FFFFFF; 
         
$section-2-subheadline-margin:60px auto 0;
// Footer variables

$footer-width: 1200px;
$footer-height: 199px;
$footer-background: #464547;
$footer-flex-just-content: space-evenly;
$footer-flex-justify-items: flex-start;
$footer-flex-padding-top: 20px;
$footer-smalllogo-position: relative;
$footer-smalllogo-left: 20px;
$footer-smalllogo-top: 21px;
$footer-smalllogo-width: 20px;
$footer-smalllogo-height: 20px;
$footer-project-margin-left: 50px;
$footer-project-font-size: 18px;
$footer-project-line-height: 16px;
$footer-project-letter-spacing: 0.2em;
$footer-color: rgba(255, 255, 255, 0.4);
$footer-project-color: #FFFFFF;  

$footer-address-padding-top: 18px;            
$footer-address-font-size: 16px;
$footer-address-line-height: 22px;           

$footer-address-span-margin-bottom: 10px;

$footer-email-text-decoration: none;

$footer-copyright-align-self: flex-end;
$footer-copyright-margin-left: 140px;
$footer-copyright-padding-top: 10px;            
$footer-copyright-font-size: 16px;
$footer-copyright-line-height: 22px;

// Below mobile variables
// General and body
$mob-gen-width: 480px;
$mob-body-height: 2715px;

// Mobile header
$mob-header-height:800px;
$mob-header-background-position: right top;
$mob-header-background-size: auto 100%;

// Mobile-biglogo
$mob-biglogo-margin-top: 135px;
$mob-biglogo-margin-left: 200px; 

// Mobile-menu

$mob-menu-margin-left: 15px;

// Mobile-project-name
$mob-proj-padding-top: 40px;
$mob-proj-padding-left: 20px; 
$mob-nav-display: none;

// Threelines
$mob-threelines-width: 22px;
$mob-threelines-height: 2px;
$mob-threelines-position: relative; 
$mob-threelines-top: 20px;
$mob-threelines-left: 140px;
$mob-threelines-bef-aft-position: absolute;
$mob-threelines-bef-aft-top: -6px;

// Main headline
$mob-headline-margin-top: 37px;

// Sectionfirst general and Headline
$mob-sectionfirst-height: 990px;
$mob-sectionfirst-margin-top: 0px;

// Sectionfirst headline
$mob-section-1-headline-width: 355px;
$mob-section-1-headline-padding-top: 57px;

// Paragraph
$mob-par-width: 445px;
$mob-par-height: 194px;
$mob-par-flex-column-gap: 84px; 
$mob-par-flex-direction: column;
$mob-par-padding-top: 65px;
$mob-par-padding-bottom: 125px;
$mob-par-flex-width: auto;

// Section 2
$mob-section-2-background-image: url('../assets/learn-more-mobile.png');
$mob-section-2-height: 637px;

// Section 2 headline
$mob-section-2-headline-padding-top: 75px;
// Play-button
$mob-play-button-margin-top: 25px; 
$mob-play-button-margin-left: 180px;

// Play-button-triangle
$mob-play-button-triangle-width: 60px;
$mob-play-button-triangle-height: 110px;
$mob-play-button-font-size: 100px;

// Section 2 subheadline
$mob-section-2-subheadline-margin: 50px auto 0;

// Footer 
$mob-footer-height: 292px;
$mob-footer-flexcont-display: block;
$mob-footer-flexcont-justify-content: flex-start;
$mob-footer-flexcont-justify-items: flex-start;
$mob-footer-flexcont-padding-top: 20px;

$mob-footer-smalllogo-top: 36px;
$mob-footer-smalllogo-left: 160px;  
$mob-footer-project-text-align: center;
$mob-footer-project-margin-top: 15px;
$mob-footer-project-margin-left: 0; 
$mob-footer-address-text-align: center;
$mob-footer-address-margin-left: 0px;
$mob-footer-address-padding-top: 18px;    

$mob-footer-copyright-align-self:auto;
$mob-footer-copyright-margin-left: 0px;
$mob-footer-copyright-padding-top: 10px;
$mob-footer-copyright-text-align: center; 

$mob-star3-top: -45px;
$mob-star3-left: 187px;
$mob-star5-top: 67px;
$mob-star5-left: 50px; 
$mob-star6-top: 66px;
$mob-star6-left: 189px;
$mob-star7-top: 89px;
$mob-star7-left: 182px;
$mob-star8-top: 150px;
$mob-star8-left: 270px;
$mob-star9-top: 161px;
$mob-star9-left: 362px;
$mob-star11-top: 350px;
$mob-star11-left: 27px;
$mob-star12-top: 366px;
$mob-star12-left: 74px;
$mob-star13-top: 313px;
$mob-star13-left: 117px;
$mob-star14-top: 210px;
$mob-star14-left: 242px;
$mob-star15-top: 273px;
$mob-star15-left: 254px;
$mob-star16-top: 361px;
$mob-star16-left: 242px;

$mob-topstar-top: 16px;
$mob-topstar-left: 284px; 

$mob-middlestar-top: 156px;
$mob-middlestar-left: 20px; 

$mob-bottomstar-top: 506px;
$mob-bottomstar-left: 107px;    
