@keyframes moveDots1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-33px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveDots2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-18px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveDots3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-56px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shineStar {
  0%, 10% {
    opacity: 0;
  }
  25%, 35% {
    opacity: 0.5;
  }
  50%, 65% {
    opacity: 1;
  }
  75%, 80% {
    opacity: 0.5;
  }
  90%, 100% {
    opacity: 0;
  }
}
.header {
  width: 1200px;
  height: 800px;
  position: relative;
  margin: 0 auto;
  background-image: url("../assets/desktop.png");
  background-repeat: no-repeat; /*added */
  background-position: center; /* added */
}
.header__menu {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  align-items: center;
  text-transform: uppercase;
}
.header__menu a {
  text-decoration: none;
  color: #FFFFFF;
}
.header__projname {
  flex-basis: 220px;
  flex-grow: 0.1;
  padding: 1px;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.header__navlist {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 25px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__navlink--about {
  border-bottom: 2px solid #FFFFFF;
}
.header__biglogo {
  width: 63px;
  height: 63px;
  margin-left: 569px;
  margin-top: 160px;
  transition: transform 0.3s ease; /* added for transformation */
}
.header__logorotate:hover .header__biglogo {
  transform: scale(1.5) scaleX(-1); /* added for rotating mirror wise */
}
.header__headline {
  margin-top: 6px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}
.header__subheadline {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.header__star {
  position: absolute;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.header__star--1 {
  top: 572px;
  left: 375px;
  background-image: url(../assets/imagestar/ellipse1.png);
}
.header__star--2 {
  top: -5px;
  left: 563px;
  background-image: url(../assets/imagestar/ellipse2lt.png);
}
.header__star--3 {
  top: -42px;
  left: 907px;
  background-image: url(../assets/imagestar/ellipse3rt12.png);
}
.header__star--4 {
  top: 113px;
  left: 664px;
  background-image: url(../assets/imagestar/ellipse4lthalqas14.png);
}
.header__star--5 {
  top: 69px;
  left: 769px;
  background-image: url(../assets/imagestar/ellipse5t10.png);
}
.header__star--6 {
  top: 67px;
  left: 908px;
  background-image: url(../assets/imagestar/ellipse6t11.png);
}
.header__star--7 {
  top: 87px;
  left: 900px;
  background-image: url(../assets/imagestar/ellipse7t13.png);
}
.header__star--8 {
  top: 146px;
  left: 990px;
  background-image: url(../assets/imagestar/ellipse8rsag9.png);
}
.header__star--9 {
  top: 158px;
  left: 1082px;
  background-image: url(../assets/imagestar/ellipses9ensagqir4.png);
}
.header__star--10 {
  top: 232px;
  left: 661px;
  background-image: url(../assets/imagestar/ellipse10logoy3.png);
}
.header__star--11 {
  top: 350px;
  left: 750px;
  background-image: url(../assets/imagestar/ellipse11xetdenken5.png);
}
.header__star--12 {
  top: 366px;
  left: 793px;
  background-image: url(../assets/imagestar/ellipse12-xetde11inyani6.png);
}
.header__star--13 {
  top: 298px;
  left: 856px;
  background-image: url(../assets/imagestar/ellipse13-12denyux-solg7.png);
}
.header__star--14 {
  top: 211px;
  left: 962px;
  background-image: url(../assets/imagestar/ellipse14-13denyux-8.png);
}
.header__star--15 {
  top: 273px;
  left: 976px;
  background-image: url(../assets/imagestar/ellipse15.png);
}
.header__star--16 {
  top: 361px;
  left: 960px;
  background-image: url(../assets/imagestar/ellipse16.png);
}
.header__flyingstars1 .header__star--2, .header__flyingstars1 .header__star--3, .header__flyingstars1 .header__star--4, .header__flyingstars1 .header__star--5, .header__flyingstars1 .header__star--6, .header__flyingstars1 .header__star--7, .header__flyingstars1 .header__star--8, .header__flyingstars1 .header__star--9, .header__flyingstars1 .header__star--10, .header__flyingstars1 .header__star--13, .header__flyingstars1 .header__star--14, .header__flyingstars1 .header__star--15 {
  animation: moveDots1 5s infinite;
}
.header__flyingstars2 .header__star--11, .header__flyingstars2 .header__star--12, .header__flyingstars2 .header__star--16 {
  animation: moveDots2 5s infinite;
}
.header__flyingstars3 .header__star--1 {
  animation: moveDots3 5s infinite;
}
.header__startmb {
  position: absolute;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  animation: shineStar 3s infinite;
  animation-delay: 2s;
}
.header__startmb--top {
  top: 15px;
  left: 1003px;
  background-image: url("../assets/imagestar/top-star.png");
}
.header__startmb--middle {
  top: 153px;
  left: 745px;
  background-image: url("../assets/imagestar/middle-star.png");
}
.header__startmb--bottom {
  top: 505px;
  left: 826px;
  background-image: url("../assets/imagestar/bottom-star.png");
}

.sectionfirst {
  width: 1200px;
  height: 700px;
  background: #EEEEEE;
}
.sectionfirst__headline {
  margin: 0 auto;
  padding-top: 87px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.sectionfirst__h3headline {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.sectionfirst__paragraph {
  width: 983px;
  height: 194px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 84px;
       column-gap: 84px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
}
.sectionfirst__flexparagraph {
  width: 50%;
}
.sectionfirst__button {
  margin: auto;
  display: block;
  padding: 5px 21px 5px 21px;
  background: #55C2D8;
  border-radius: 18px;
  border-style: none;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: transform 0.5s ease 0.6s; /*added for transition */
  transform-origin: left center; /*added for transformation */
}
.sectionfirst__button:hover {
  transform: rotate(12deg);
}

.sectiontwo {
  background-image: url("../assets/learn-more.png");
  width: 1200px;
  height: 666px;
  margin: 0 auto;
  margin-top: -40px;
  /* Added the below class for transformation task*/
}
.sectiontwo__headline {
  padding-top: 84px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.12rem;
  color: #FFFFFF;
}
.sectiontwo__play-button {
  display: inline-block;
  margin-left: 530px;
  margin-top: 20px;
}
.sectiontwo__triangle9654 {
  width: 80px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 30px 3px 30px;
  border-radius: 100%;
  font-size: 115px;
  text-align: center;
  color: white;
  background-color: #39C2D7;
  transition: transform 0.5s, background-color 0.5s, color 0.5s;
  transition-property: transform, background-color, color;
  transition-delay: 0.5s, 0.5s, 0.5s;
}
.sectiontwo__play-button:hover .sectiontwo__triangle9654 {
  background-color: white;
  color: #39C2D7;
  transform: scale(0.96);
  transform-origin: center center;
}
.sectiontwo__h3headline {
  margin: 60px auto 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  width: 1200px;
  height: 199px;
  margin: 0 auto;
  background: #464547;
}
.footer__flexcontainer {
  display: flex;
  justify-content: space-evenly;
  justify-items: flex-start;
  padding-top: 20px;
}
.footer__smalllogo {
  position: relative;
  top: 21px;
  left: 20px;
  width: 20px;
  height: 20px;
}
.footer__project {
  margin-left: 50px;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__address1 {
  padding-top: 18px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
}
.footer__address1 span {
  margin-bottom: 10px;
}
.footer__email {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.footer__copyright {
  align-self: flex-end;
  margin-left: 140px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
}

body {
  width: 1200px;
  height: 2336px;
  margin: 0 auto;
  background: #FFFFFF;
}

.header__projname, .header__navlist, .sectionfirst__paragraph, .footer__project, .footer__address1, .footer__copyright {
  font-family: "Source Sans Pro";
  font-style: "normal";
  font-weight: 400;
}

@media (max-width: 768px) {
  body {
    width: 480px;
    height: 2715px;
  }
  /* made some changes to header to display background properly */
  .header {
    width: 480px;
    height: 800px;
    background-position: right top;
    background-size: auto 100%;
  }
  .header__biglogo {
    margin-top: 135px;
    margin-left: 200px;
  }
  .header__menu {
    margin-left: 15px;
  }
  .header__projname {
    padding-top: 40px;
    padding-left: 20px;
  }
  .header__nav {
    display: none;
  }
  .header__threelines {
    width: 22px;
    height: 2px;
    background-color: #FFFFFF;
    position: relative;
    top: 20px;
    left: 140px;
  }
  .header__threelines::before, .header__threelines::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #FFFFFF;
  }
  .header__threelines::before {
    top: -6px; /* Adjust the position of the upper line */
  }
  .header__threelines::after {
    bottom: -6px; /* Adjust the position of the lower line */
  }
  .header__headline {
    margin-top: 37px;
  }
  .header__star--3 {
    top: -45px;
    left: 187px;
    background-image: url(../assets/imagestar/ellipse3rt12.png);
  }
  .header__star--5 {
    top: 67px;
    left: 50px;
    background-image: url(../assets/imagestar/ellipse5t10.png);
  }
  .header__star--6 {
    top: 66px;
    left: 189px;
    background-image: url(../assets/imagestar/ellipse6t11.png);
  }
  .header__star--7 {
    top: 89px;
    left: 182px;
    background-image: url(../assets/imagestar/ellipse7t13.png);
  }
  .header__star--8 {
    top: 150px;
    left: 270px;
    background-image: url(../assets/imagestar/ellipse8rsag9.png);
  }
  .header__star--9 {
    top: 161px;
    left: 362px;
    background-image: url(../assets/imagestar/ellipses9ensagqir4.png);
  }
  .header__star--11 {
    top: 350px;
    left: 27px;
    background-image: url(../assets/imagestar/ellipse11xetdenken5.png);
  }
  .header__star--12 {
    top: 366px;
    left: 74px;
    background-image: url(../assets/imagestar/ellipse12-xetde11inyani6.png);
  }
  .header__star--13 {
    top: 313px;
    left: 117px;
    background-image: url(../assets/imagestar/ellipse13-12denyux-solg7.png);
  }
  .header__star--14 {
    top: 210px;
    left: 242px;
    background-image: url(../assets/imagestar/ellipse14-13denyux-8.png);
  }
  .header__star--15 {
    top: 273px;
    left: 254px;
    background-image: url(../assets/imagestar/ellipse15.png);
  }
  .header__star--16 {
    top: 361px;
    left: 242px;
    background-image: url(../assets/imagestar/ellipse16.png);
  }
  .header__star--1, .header__star--2, .header__star--4, .header__star--10 {
    display: none;
  }
  .header__startmb--top {
    top: 16px;
    left: 284px;
    background-image: url("../assets/imagestar/top-star.png");
  }
  .header__startmb--middle {
    top: 156px;
    left: 20px;
    background-image: url("../assets/imagestar/middle-star.png");
  }
  .header__startmb--bottom {
    top: 506px;
    left: 107px;
    background-image: url("../assets/imagestar/bottom-star.png");
  }
  .sectionfirst {
    width: 480px;
    height: 990px;
    margin-top: 0px;
  }
  .sectionfirst__headline {
    width: 355px;
    padding-top: 57px;
  }
  .sectionfirst__paragraph {
    width: 445px;
    height: 194px;
    display: flex;
    justify-content: center;
    -moz-column-gap: 84px;
         column-gap: 84px;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 125px;
  }
  .sectionfirst__flexparagraph {
    width: auto;
  }
  .sectiontwo {
    background-image: url("../assets/learn-more-mobile.png");
    width: 480px;
    height: 637px;
    margin-top: -40px;
  }
  .sectiontwo__subheadline {
    padding-top: 75px;
  }
  .sectiontwo__play-button {
    margin-top: 25px;
    margin-left: 180px;
  }
  .sectiontwo__triangle9654 {
    width: 60px;
    height: 110px;
    font-size: 100px;
  }
  .sectiontwo__h3headline {
    margin: 50px auto 0;
  }
  .footer {
    width: 480px;
    height: 292px;
  }
  .footer__flexcontainer {
    display: block;
    justify-content: flex-start;
    justify-items: flex-start;
    padding-top: 20px;
  }
  .footer__smalllogo {
    top: 36px;
    left: 160px;
  }
  .footer__project {
    margin-top: 15px;
    margin-left: 0;
    text-align: center;
  }
  .footer__address1 {
    margin-left: 0px;
    padding-top: 18px;
    text-align: center;
  }
  .footer__copyright {
    align-self: auto;
    margin-left: 0px;
    padding-top: 10px;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */