@import 'variables';
@import 'animations';
@import 'mixins';
@import 'modules/header';
@import 'modules/section1';
@import 'modules/section2';
@import 'modules/footer';


body { 
    @include size($body-width, $body-height);
    margin: $margin-general;   
    background: $body-background;
}

%font-basis {
    font-family: $font-basis-fam;
    font-style: $font-basis-style;
    font-weight: $font-basis-weight
}




    // .footer {
    //     @include size($footer-width, $footer-height);
    //     margin: $margin-general;
    //     background: $footer-background;

    //     &__flexcontainer {
    //         @include flexprop($most-display, $footer-flex-just-content);
    //         justify-items: $footer-flex-justify-items;
    //         padding-top: $footer-flex-padding-top;
    //     }

    //     &__smalllogo {
    //         position: $footer-smalllogo-position;
    //         top: $footer-smalllogo-top;
    //         left: $footer-smalllogo-left;            
    //         @include size($footer-smalllogo-width, $footer-smalllogo-height);           
    //     }

    //     &__project {
    //         margin-left: $footer-project-margin-left;
    //         @extend %font-basis;
    //         font-size: $footer-project-font-size;
    //         line-height: $footer-project-line-height;    
    //         letter-spacing: $footer-project-letter-spacing;
    //         text-transform: $change-case; 
    //         color: $footer-project-color;                
    //     }

    //     &__address1 {
    //         padding-top: $footer-address-padding-top;                              
    //         @extend %font-basis;
    //         font-size: $footer-address-font-size;
    //         line-height: $footer-address-line-height;   
    //         color: $footer-color;

    //         span {
    //             margin-bottom: $footer-address-span-margin-bottom; 
    //           }
    //     }

    //     &__email {
    //         text-decoration: $footer-email-text-decoration;
    //         color: $footer-color;
    //     }

                
    //     &__copyright {
    //         align-self: $footer-copyright-align-self;
    //         margin-left: $footer-copyright-margin-left;
    //         padding-top: $footer-copyright-padding-top;
    //         @extend %font-basis;
    //         font-size: $footer-copyright-font-size;
    //         line-height: $footer-copyright-line-height;   
    //         color: $footer-color;        }
    // }
    
    @media (max-width: 768px) {
        @import 'mobile';
      }    
       




    
    
      