.header {    
    @include size($body-width, $header-height);
    position: $header-position;
    margin: $margin-general;
    background-image:  $header-background-image;
    background-repeat: $most-background-repeat; /*added */
    background-position: $most-background-position; /* added */        

    &__menu {
        @include flexprop($most-display, $menu-just-content);
        margin-left: $menu-margin-left;
        align-items: $menu-align-items;
        text-transform: $change-case;        

            a {
            text-decoration: $menu-text-decor;
            color: $header-color;
            }
        }

    &__projname {
        flex-basis: $projname-flex-basis;
        flex-grow: $projname-flex-grow;
        padding: $projname-padding;        
        @extend %font-basis;
        font-weight: $projname-font-weight;
        font-size: $projname-font-size;
        line-height: $projname-line-height;    
        letter-spacing: $projname-letter-spacing;
        color: $header-color;
        }

    &__navlist {
        list-style-type: none;        
        @include flexprop($most-display, center);
        flex-grow: $nav-flex-grow;
        column-gap: $nav-flex-colgap;
        padding: $nav-padding;       
        @extend %font-basis;
        font-size: $nav-font-size;
        line-height: $nav-line-height;
        letter-spacing: $nav-letter-spacing;
        text-transform: $change-case;
        color: $header-color;         
        }
    
        
    &__navlink--about {
            border-bottom: $nav-about-border;
        } 
        
    &__biglogo {
        @include size($biglogo-width, $biglogo-height);
        margin-left: $biglogo-margin-left;
        margin-top: $biglogo-margin-top;
        transition: $biglogo-transition; /* added for transformation */
        }

    &__logorotate:hover &__biglogo {
        transform: $biglogo-transform;  /* added for rotating mirror wise */
        }

    &__headline {
        margin-top: $headline-margin-top;        
        @include font-headline;
        color: $header-color;
        }
        
    &__subheadline {
        @include font-subheadline;
        color: $subheadline-color;
        }

    &__star {
        position: $stars-common-position;
        @include size($stars-common-width, $stars-common-height);
        background-repeat: $stars-common-background-repeat;
        background-position: $stars-common-background-position;
        }

    &__star--1 {
        @include stars($star1-top, $star1-left, $star1-background-image);           
        }

    &__star--2 {
        @include stars($star2-top, $star2-left, $star2-background-image);            
        }
        
    &__star--3 {
        @include stars($star3-top, $star3-left, $star3-background-image);           
    }
        
    &__star--4 {
        @include stars($star4-top, $star4-left, $star4-background-image);          
        }
        
    &__star--5 {            
        @include stars($star5-top, $star5-left, $star5-background-image);               
        }
        
    &__star--6 {
       @include stars($star6-top, $star6-left, $star6-background-image);            
    }
        
    &__star--7 {
        @include stars($star7-top, $star7-left, $star7-background-image);           
        }
        
    &__star--8 {
        @include stars($star8-top, $star8-left, $star8-background-image);           
        }
        
    &__star--9 {
        @include stars($star9-top, $star9-left, $star9-background-image);           
        }
        
    &__star--10 {
        @include stars($star10-top, $star10-left, $star10-background-image);            
        }
        
    &__star--11 {
       @include stars($star11-top, $star11-left, $star11-background-image);
    }
                
    &__star--12 {
       @include stars($star12-top, $star12-left, $star12-background-image);
    }
    
    &__star--13 {            
        @include stars($star13-top, $star13-left, $star13-background-image);        
    }

    &__star--14 {            
        @include stars($star14-top, $star14-left, $star14-background-image);          
    }
    
    &__star--15 {            
        @include stars($star15-top, $star15-left, $star15-background-image);   
    }
    
    &__star--16 {            
        @include stars($star16-top, $star16-left, $star16-background-image);  
    }

        
    &__flyingstars1 &__star--2,
    &__flyingstars1 &__star--3,
    &__flyingstars1 &__star--4,
    &__flyingstars1 &__star--5,
    &__flyingstars1 &__star--6,
    &__flyingstars1 &__star--7,
    &__flyingstars1 &__star--8,
    &__flyingstars1 &__star--9,
    &__flyingstars1 &__star--10,
    &__flyingstars1 &__star--13,
    &__flyingstars1 &__star--14,
    &__flyingstars1 &__star--15
    {
    animation: moveDots1 5s infinite;
    }

    &__flyingstars2 &__star--11,
    &__flyingstars2 &__star--12,
    &__flyingstars2 &__star--16  
    {
    animation: moveDots2 5s infinite;
    }

    &__flyingstars3 &__star--1
    {
    animation: moveDots3 5s infinite;
    }

    &__startmb {
        position: $starstmb-common-position;
        @include size($starstmb-common-width, $starstmb-common-height);
        background-repeat: $stars-common-background-repeat;
        background-position: $stars-common-background-position;
        animation: shineStar 3s infinite;
        animation-delay: 2s;
        }

    &__startmb--top {    
         @include stars($topstar-top, $topstar-left, $topstar-background-image);  
        }
        
    &__startmb--middle {    
         @include stars($middlestar-top, $middlestar-left, $middlestar-background-image);        
        } 
        
        &__startmb--bottom {    
            @include stars($bottomstar-top, $bottomstar-left, $bottomstar-background-image);       
        }        
}