.sectionfirst {
    @include size($sectionfirst-width, $sectionfirst-height);
    background: $sectionfirst-background; 
    
    &__headline {
        margin: $margin-general;
        padding-top: $section-1-headline-padding-top;        
        @include font-headline;
        color: $section-1-headline-color;
    }

    &__h3headline {
        @include font-subheadline; 
        color: $section-1-subheadline-color;     
    }

    &__paragraph {
        @include size($paragraph-width, $paragraph-height);
        @include flexprop($most-display, $most-just-content);
        column-gap: $paragraph-flex-colgap; 
        margin: $margin-general;
        padding-top: $paragraph-padding-top;
        padding-bottom: $paragraph-padding-bottom;
        @extend %font-basis;
        font-size: $paragraph-font-size;
        line-height: $paragraph-line-height;            
        text-align: $paragraph-text-align;
        color: $paragraph-color;
    }

   &__flexparagraph {
        width: $paragraph-flex-width;     
    }
    
    &__button {    
        margin: $button-margin;
        display: $button-display;
        padding: $button-padding;
        background: $button-background;
        border-radius: $button-border-radius;
        border-style: $button-border-style;
        font-family: $font-family-headline;
        font-size: $button-font-size;
        line-height: $button-line-height;
        text-align: $button-text-align;
        letter-spacing: $button-letter-spacing;
        color: $button-color; 
        text-transform: $change-case;  
        transition: transform 0.5s ease 0.6s; /*added for transition */ 
        transform-origin: left center;   /*added for transformation */    
    } 
    &__button:hover {
    transform: $button-transform;
    }   
}