.sectiontwo {
    background-image: $section-2-background-image;
    @include size($body-width, $section-2-height);
    margin:$margin-general;
    margin-top: $section-2-margin-top;

    &__headline {
        padding-top: $section-2-headline-padding-top;
        @include font-headline;
        letter-spacing: $section-2-headline-letter-spacing;
        color: $section-2-color;            
    }  
    
    &__play-button {
        display: $play-button-display;
        margin-left: $play-button-margin-left;
        margin-top: $play-button-margin-top;           
      }
      
      /* Added the below class for transformation task*/
    
    &__triangle9654 {
        @include size($play-button-triangle-width, $play-button-triangle-height);
        @include flexprop($most-display, $most-just-content);
        align-items: $play-button-align-items;
        padding: $play-button-padding;  
        border-radius: $play-button-border-radius;            
        font-size: $play-button-font-size;
        text-align: $play-button-text-align;
        color: $play-button-color;
        background-color: $play-button-background-color;                             
        transition: $play-button-transition;
        transition-property: $play-button-transition-property;
        transition-delay: $play-button-transition-delay;
       }

    &__play-button:hover &__triangle9654 {
        background-color: $play-button-hover-background;
        color: $play-button-hover-color;
        transform: $play-button-hover-transform;
        transform-origin: $play-button-hover-transform-origin;           
    }

    &__h3headline {
        margin: $section-2-subheadline-margin;
        @include font-subheadline;
        color: $section-2-color;
    }
}